 * {
   box-sizing: border-box !important;
 }

 body {
   background: url('../pictures/background.jpg') 50% 0 no-repeat;
   display: block;
   position: relative;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
 }

 #mainContent {
   margin-top: 3vh;
   margin-bottom: 3vh;
   border: 2vh solid rgb(180, 174, 144);
  background-color: #ffffff;
  border-radius: 2vh;
  width: 90%;
 }

 #testplayer {
   max-height: 100%;
   max-width: 100%;
 }

 #youtubePlayer {
   margin: auto;
   margin-top: 1vh;
 }

 #searchCardLarge {
   margin: auto;
   text-align: center;
   margin-top: 20vh;
   width: 60%;
 }

 .centerThis {
   margin: auto;
   text-align: center;
 }